<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/font-roboto/roboto.html">


<dom-module id="contact-card">
  <template>
    <style>
      :host {
        display: inline;
        
      }

      .contact {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        height: auto;
        margin: 25px;
        text-align: center;
        width: 200px;
        --paper-card-header-color: rgba(73, 63, 161, 0.9);
        border-radius: 20px;
        background-color: rgba(200, 204, 204, 0.486);
      }

      .contact__photo img {
        border-radius: 50%;
        width: 100px;

      }

      .contact__email {
        width: 100%;
      }

      .contact__email paper-button {
        box-shadow: none;
        color: rgb(124, 112, 112);
        display: block;
        font-size: 11px;
        margin: 10px auto;
        text-align: center;
      }

      .email_link {
        text-decoration: none;
      }

      .icon {
        display: inline-block;
      }

      .email_icon {
        display: block;
        margin: auto;
        --iron-icon-fill-color: rgba(73, 63, 161, 0.9);
      }

      .email_button {
        overflow: hidden;
        width: 80%;
        --paper-button-ink-color: rgba(73, 63, 161, 0.9);
      }

      .email_text {
        color: rgba(73, 63, 161, 0.9);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    </style>


    <paper-card class="contact" heading="{{fullName}}">
      <div class="contact__photo">
        <img src="{{user.image}}" />
        <span class="email_text">{{user.status}}</span>
      </div>
    </paper-card>


  </template>

  <script>
    Polymer({
      is: 'contact-card',
      properties: {
        user: {
          type: Object
        },
        fullName: {
          type: String,
          computed: 'computeFullName(user)'
        }
      },
      computeFullName: function (user) {
        return user.name + ' ';
      }
    });
  </script>

</dom-module>