<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../contact-card/contact-card.html">

<dom-module id="contacts-app">
  <template>
    <style>
      :host {
        display: block;
      }

      .people {
        --paper-input-container-color:rgb(4, 21, 88);;
        --paper-input-container-focus-color: rgb(5, 38, 170);;

        --paper-input-container-label: {
          color: rgba(30, 139, 143, 0.7);
        }
        width: 40%;
        margin: 0 auto;
      }

      .cards_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
      }

      .select {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      select {
        width: 200px;
        margin-top: 10px;
      }

      option {
        text-align: center
      }

      div {        
        width: 90%;
        margin: 0 auto;
      }
  
    </style>

    <paper-input class="people" label="Buscar por nombre" type="text" value="{{cardsName}}"></paper-input>
    <paper-input class="people" label="Buscar por status" type="text" value="{{cardStatus}}"></paper-input>
    
    <section class="select">
        <select value="{{cardStatus::change}}">
            <option selected value="">Ver Todos los Status</option>
            <option value="Alive">Alive</option>
            <option value="Dead">Dead</option>
            <option value="unknown">Unknown</option>
        </select>
    </section>
    

    <iron-ajax 
      auto 
      url='https://rickandmortyapi.com/api/character/?name={{cardsName}}' 
      params='{"alt":"json", "q":"chrome"}'
      handle-as="json" 
      last-response="{{newObj}}" 
      debounce-duration="300">
    </iron-ajax>

    <div>
      <template is="dom-repeat" items="{{newObj.results}}" filter="{{_filter(cardStatus)}}">
        <contact-card user="{{item}}"></contact-card>
      </template>
    </div>

  </template>

  <script>

    class ContactsApp extends Polymer.Element {
      static get is() { return 'contacts-app'; }

      static get properties() {
        return {
          cardsName: {
            type: String,

          },
          cardStatus: {
            type: String
          },
          newObj: {
            type: Object,
            value: () => []
          }
        };
      }

      _filter(status) {
        return function (person) {
          if (!status) return true;
          if (!person) return false;
          return (person.status && ~person.status.indexOf(status));
        };
      }

    }
    window.customElements.define(ContactsApp.is, ContactsApp)


  </script>
</dom-module>